html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: Karla, Avenir Next;
    display: flex;
}

p, i {
    padding: 0;
    margin: 0;
}

select::-ms-expand {
    display: none;
}

select {
    box-shadow: none !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23000000%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E') !important;
    background-repeat: no-repeat, repeat !important;
    background-position: right .7em top 50%, 0 0 !important;
    background-size: .65em auto, 100% !important;
    border: none;
    border-radius: 0px;
    padding: 0em 0em 0em .35em;    
    background-color: white;
}

/* ---------------------------------------------------------------------------------------------------------------- */

#left {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #DEE8EB;
    zoom: 0.9;
}

#container {
    width: 75%;
    height: auto;
    margin: 0 auto;
}

#segment-header {
    font-size: 35px;
    font-weight: bold;
    color: #345CB4;
}

#segment-msg {
    font-size: 20px;
    padding: 15px 0 20px 0;
    color: #A8B7C3;
    line-height: 30px;
}

#email {
    width: 71%;
    height: 55px;
    padding: 0 15px 0 15px;
    font-weight: bold;
    font-family: Karla, Avenir Next;
    font-size: 16px;
    outline: none;
    border: none;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
    background-color: white;
    margin: 10px 0;
    border-radius: 3px;
}

#category {
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 3px;
    text-indent: 15px;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    font-family: Karla, Avenir Next;
    color: #adb4ba;
    font-size: 16px;
    outline: none;
    margin-bottom: 10px;
}

#feedback-msg {
    resize: none;
    width: 71%;
    height: 100px;
    padding: 15px 15px 0 15px;
    font-weight: bold;
    font-family: Karla, Avenir Next;
    font-size: 16px;
    outline: none;
    border: none;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
    background-color: white;
    margin: 10px 0;
    border-radius: 3px;
}

#submit-fb {
    width: 170px;
    height: 50px;
    padding: 15px;
    color: white;
    font-weight: bold;
    font-family: Karla, Avenir Next;
    font-size: 16px;
    outline: none;
    border: none;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.1);
    background-color: #345CB4;
    margin: 10px 0;
    border-radius: 3px;
}

#submit-fb:hover {
    transform: scale(1.05);
    cursor: pointer;
    transition: 0.5s;
}

/* ---------------------------------------------------------------------------------------------------------------- */

#emotions {
    width: 80%;
}

#question {
    font-size: 17px;
    font-weight: bold;
    color: #113836;
    margin-bottom: 10px;
}

#faces {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#faces p i {
    width: auto;
    height: auto;
    padding: 7px;
    font-size: 30px;
}

#faces p i:hover {
    border-radius: 7px;
    background-color: #DCE1EE;
    color: #1DD1A1;
    cursor: pointer;
    transition: 0.5s;
}

/* ---------------------------------------------------------------------------------------------------------------- */

#right {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("../assets/feedback.png");   
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}

/* ---------------------------------------------------------------------------------------------------------------- */

@media (max-width: 1100px) {
    #right {
        display: none;
    }

    #left {
        width: 100%;
        right: 0;
    }
}

/* ---------------------------------------------------------------------------------------------------------------- */

@media (max-width: 600px) {
    #right {
        display: none;
    }

    #left {
        width: 100%;
        right: 0;
    }

    #segment-header {
        font-size: 45px;
    }

    #line-break {
        display: none;
    }

    #segment-header {
        font-size: 25px;
    }

    #segment-msg {
        font-size: 18px;
    }

    #faces {
        width: 70%;
    }

    #email {
        width: 85%;
    }

    #feedback-msg {
        width: 85%;
    }
}

/* ---------------------------------------------------------------------------------------------------------------- */

@media (max-width: 370px) {
    #right {
        display: none;
    }

    #left {
        width: 100%;
        right: 0;
    }

    #container {
        width: 90%;
        zoom: 0.8;
        overflow: scroll;
    }

    #segment-header {
        font-size: 25px;
    }

    #line-break {
        display: none;
    }

    #segment-msg {
        font-size: 18px;
    }

    #faces {
        width: 70%;
    }

    #email {
        width: 85%;
    }

    #feedback-msg {
        width: 85%;
    }
}